.vscode/*
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


__pycache__
icon.png
calculator_icon.png
calculator_designer.ui
calculator2.py 
calculator_designer.py 